* {
  outline: 1px solid red;
}

header {
  height: 930px;
  background-image: url(./../img/Header_bg.jpg);
  background-size: cover;

  nav {
    display: flex;

    ul {
      flex: 1;
      display: flex;
    }

    img {
      flex: 1;
    }

    .socials-container {
      flex: 1;
    }
  }
}
